.Card {
    display: inline-block;
    border:3px solid rgb(65, 91, 204);
    border-radius:22px;
    margin-right: 10px;
    margin-block: 10px;
}

.texto-encima{
    position: absolute;
    margin-left: 55px;
    font-size: 20px;
    color: rgb(141, 21, 0);
}